# Ambientes Virtuais e Python Cache
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Variáveis de Ambiente & Credenciais
.env
*.env

# Execuções de ML, MLflow e Bancos Locais
catboost_info/
mlruns/
mlflow.db
mlruns.db

# Dados Brutos / Processados 
data/raw/
data/processed/

# artifacts/*.pkl

# Dependências do Frontend
frontend/node_modules/
frontend/dist/

# Configurações de Editores e Sistema
.vscode/
.idea/
.DS_Store