kagglehub
polars
sqlalchemy
pandas
pymongo
pyarrow
psycopg2-binary
scikit-learn 
xgboost
lightgbm
mlflow
shap
matplotlib
seaborn
jupyter
optuna
seaborn
imbalanced-learn
category_encoders>=2.6.0
catboost
fastapi
uvicorn
pydantic
pytest
httpx
azure-storage-blob
azure-identity
azure-keyvault-secrets
kagglehub
imbalanced-learn
streamlit